<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Parameters</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/parameters">Parameters</a></li>
                    <li><i class="fa fa-square-o"></i>Parameters</li>
                </ol>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="/countryAdd" class="btn btn-primary">
                            Add New Country
                            </a>
                        </div>
                        <form th:action="@{/countries}" method="get">
                            <div class="col-lg-3">
                                <input class="form-control" type="text" name="keyword">
                            </div>
                            <div class="col-lg-3">
                                <input type="submit" value="Search" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    Countries List
                </header>
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th><i class="icon_profile"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/description?sortDir=' + ${reverseSortDir}}">Description</a></th>
                        <th><i class="icon_calendar"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/capital?sortDir=' + ${reverseSortDir}}">Capital</a></th>
                        <th><i class="icon_mail_alt"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/code?sortDir=' + ${reverseSortDir}}">Code</a></th>
                        <th><i class="icon_pin_alt"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/nationality?sortDir=' + ${reverseSortDir}}">Nationality</a></th>
                        <th><i class="icon_mobile"></i><a th:href="@{'/countries/page/' + ${currentPage} + '/continent?sortDir=' + ${reverseSortDir}}">Continent</a></th>
                        <th><i class="icon_cogs"></i>Action</th>
                    </tr>
                    <tr th:each = "country : ${countries} ">
                        <td th:text="${country.description}"></td>
                        <td th:text="${country.capital}"></td>
                        <td th:text="${country.code}"></td>
                        <td th:text="${country.nationality}"></td>
                        <td th:text="${country.continent}"></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" th:href="@{'/countryDetails/'+${country.id}}"><i class="icon_document_alt"></i></a>
                                <a class="btn btn-success" th:href="@{'/countryEdit/'+${country.id}}"><i class="icon_pencil-edit"></i></a>
                                <a class="btn btn-danger"
                                   onclick="return confirm('are you sure you want to delete this record?')" th:href="@{'/countries/delete/'+${country.id}}"><i class="icon_close_alt2"></i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <footer class ="panel-footer">
                    <nav aria-label="Page navigation" class="text-center">
                        <div class="mb-2">
                            <span class="fw-bold">Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]</span>
                        </div>
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                <a class="page-link" th:if="${currentPage > 1}" th:href="@{/countries/page/1}">First</a>
                                <span class="page-link" th:unless="${currentPage > 1}">First</span>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/countries/page/' + ${currentPage - 1}}">Previous</a>
                                <span class="page-link" th:unless="${currentPage > 1}">Previous</span>
                            </li>
                            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active' : ''">
                                <a class="page-link" th:href="@{'/countries/page/' + ${i}}">[[${i}]]</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
                                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/countries/page/' + ${currentPage + 1}}">Next</a>
                                <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled' : ''">
                                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/countries/page/' + ${totalPages}}">Last</a>
                                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                            </li>
                        </ul>
                    </nav>

                </footer>
            </section>
        </div>
    </div>
</div>
</body>
</html>