<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>
<div layout:fragment="content">

  <div class="row">
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><h3><b>Tickets</b></h3></h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/parameters/countries" class="btn btn-primary">Manage Countries</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-4">
      <section class="panel">
        <div class="panel-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><h3><b>Ticket Status</b></h3></h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/parameters/modules" class="btn btn-primary">Manage Modules</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
</body>
</html>